extends baseEmail

block content
  p Olá #{model.name},
  p Se você esqueceu sua senha, pode usar este link para acessar a página de renovação de senha: #{model.url}.
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${model.url}`) Renovar senha
  p Se você não esqueceu sua senha, desconsidere este e-mail
